<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

  <div class="flex-container">
    <div class="flex-items">
      <img src="./assets/img/Ellipse 10.svg " alt="profilePic" class="imgprofiles">
      <div>
        <h5 class="title">CUSTOMER ID</h5>
        <p class="subtitle">Torntanat Cheng </p>
        <h5 class="title">CREATED</h5>
        <p class="subtitle">12/11/2021 11:00AM </p>
        <h5 class="title">LAST ACTIVITY</h5>
        <p class="subtitle"> 15/11/2021 11:00AM </p>
      </div>
    </div>
    <div class="flex-items">
      <div>
        <h5 class="title">DISCOUNTED ORDERS</h5>
        <p class="subtitle"> 40 </p>
      </div>
      <div>
        <h5 class="title"> UNDISCOUNTED ORDERS</h5>
        <p class="subtitle"> 40</p>
      </div>
    </div>

    <div class="flex-items">
      <div>
        <h5 class="title">INTERACTIONS</h5>
        <p class="subtitle"> 40</p>
      </div>
      <div>
        <h5 class="title">NET REVERNUE</h5>
        <p class="subtitle"> ฿ 40.00</p>
      </div>
    </div>

  </div>

</body>

</html>